div.footer{
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    padding: 20px;
}

/* -----------------UPPERSIDE------------------- */

.upperside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid var(--panel);
    height: 70px;
}
img.uppersidelogo {
    height: 60px;
    padding: 10px 30px 10px 20px;
    border-right: 3px solid var(--panel);
}
.navShare a img {
  height: 40px;
  margin-left: 0.5rem;
  border-radius: 50%;
}

/* -----------------LOWERRSIDE------------------- */

.lowerside {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    /* border: 1px solid red; */
}
div.lowerinfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    padding-left: 20px;
}

ul.infolinks{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

ul.infolinks>li{
    padding-right:20px ;
    list-style: none;
    font-weight: 500;
    color: var(--panel);
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

a.footlink {
    text-decoration: none;
    color: var(--prime);
    opacity: 0.6;
}
a.footlink:hover {
    opacity: 1;
}
p.lowerinfodesc {
    color: var(--prime);
    text-wrap: wrap;
    width: 100%;
    opacity: 0.6;
}

div.footnav {
    display: flex;
    justify-content: flex-end;
}

.footnavimg{
    background-color: var(--panel);
    margin-right: 50px;
    border-radius: 40%;
}

@media screen and (max-width: 451px) {
    ul.infolinks {
        display: none;
    }
}